@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  background-image: url('./assets/wetter.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;

}

.time {
  font-size: 1.5rem;
  font-weight: bold;
  color: #efefef;
  margin-top: 1rem;
  background-color: #1083cb;
  padding: 1rem;
  border-radius: 1rem;
}



@media screen and (max-width: 768px) {
  .home-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.header {
  background-color: #1083cb;
  text-shadow: 0 0 10px rgb(255, 225, 0);
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
}

.layout {

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.form {
  background-color: #0c8ad869;
  border-radius: 5px;
  padding: 0.2rem;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);


}

.btn {
  background-color: #ee8701db;
  color: #013f66;
  border-radius: 5px;
}

.citys {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}

.cityname {
  background-color: #0c8ad869;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}



.city {
  background-color: #0c8ad869;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preset-weather-info {
  background-color: #0c8ad869;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: rgb(255, 255, 255);
}

.h3 {
  background-color: #0c8ad869;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.main {
  background-color: #5fb5ea72;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.main img {
  width: 100px;
  height: 100px;
}

.p {
  background-color: #959595;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: white;
}

h3 .home {
  background-color: #959595;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: white;

}

.more {
  background-color: #959595;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .layout>div {
  background-color: #f9f9f9;
  padding: 1rem;
} */


.footer {
  background-color: #1083cb;
  text-shadow: 0 0 10px rgb(255, 225, 0);
  color: white;
  text-align: center;
  padding: 2rem;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
}

@media screen and (max-width: 1268px) {
  .citys {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media screen and (max-width: 868px) {
  .citys {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 580px) {
  .citys {
    grid-template-columns: 1fr;
  }

}